# TRAFFIC ANALYSIS PROJECT
## BY: Group 5
1. Kevin Muchori
2. Benson Kamau
3. Sally Kinyanjui
4. Breden Mugambi
5. Nancy Chelangat

## Overview:  
The urban mobility and transportation sector are vital for the functioning of modern cities, enabling the movement of people and goods efficiently. Within this industry, traffic management and pedestrian safety are crucial components that directly impact the quality of life in urban areas. Effective traffic pattern analysis and prediction can help mitigate congestion, enhance safety, and improve overall urban mobility.
Well managed traffic leads to minimized economic losses, improved quality of life especially on the side of pedestrians.

## Challenges:
There are so many problems that are encountered especially in most urban towns whose vehicle and pedestrian population continues to grow every day. One of the problems is the traffic congestion which leads to higher traffic volumes which in turn brings about economic losses due to wasted time and fuel, increased pollution. Another key challenge is the pedestrian safety where High pedestrian traffic in urban areas increases the risk of accidents.  A challenge to also note is collecting accurate and real-time data from various sources is challenging which would make accurate traffic and pedestrian predictions challenging.

## Proposed solutions:
To solve some of these challenges would include measures such as advocating for sustainable urban mobility policies and invest in supportive infrastructure.  Use of Use machine learning models to analyze and predict traffic patterns and pedestrian crossings at different times of the day. In order to gather real-time data on traffic and pedestrian movement would require use of high technology like IoT devices.

## Conclusion:
The analysis and prediction of traffic congestion levels and pedestrian crossings are essential for enhancing urban mobility and safety. Successful implementation of these solutions can lead to reduced congestion, fewer accidents, and an overall improvement in the quality of urban life.


## Problem Statement:

Urban areas continue to face significant challenges in managing their traffic congestion and ensuring pedestrian safety. The changing nature of these areas together with the increasing volume of both vehicle and pedestrian traffic, makes it hard for one to predict traffic patterns affectively.

## Objective :
Our primary objective is to create an accurate time series model(s) that can model, analyze and predict traffic congestion levels and pedestrian crossings at different times of the day.

### Specific objectives:
1.  To identify key factors that influence traffic and pedestrian movement
2.  To develop predictive models for forecasting future traffic congestion and pedestrian crossing patterns.
3.  To provide recommendations for urban planners and traffic management authorities to improve traffic flow and pedestrian safety.

## Data Understanding
The data to use in this study is sourced from the UC Irvine Machine Learning Repository.  It has 4760 rows and 14 data features.

In [19]:
import numpy as np
import pandas as pd
import seaborn as sns

In [20]:
#create a function that loads data and gets the info about the data.
def load_and_get_info(file_path, encoding='utf-8'):
    try :
        # Load data
        df = pd.read_csv(file_path, encoding=encoding)

        # Display the first few rows of the DataFrame
        df_head = df.head()

        # Get information about the DataFrame
        df_info = df.info()

        return df,df_info, df_head
    except UnicodeDecodeError:
        print(f"Failed to decode {file_path} with encoding {encoding}. Trying with 'latin1' encoding.")
        return load_and_get_info(file_path, encoding='latin1')

# A function that checks the data types of DataFrame columns and return the count of columns for each data type category.
def check_data_types(df):

    data_type_counts = df.dtypes.replace({'object': 'string'}).value_counts().to_dict()
    return data_type_counts

In [21]:
file_path = '/Users/mac/Documents/GitHub/Traffic-analysis-project/traffic_data1 (1).csv'
df1,data_info, data_head = load_and_get_info(file_path)
print(data_info)
print("\nFirst few rows of the DataFrame:")
data_head #data_head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4759 entries, 0 to 4758
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   oid                4759 non-null   object
 1   timestamp          4759 non-null   object
 2   date               4759 non-null   object
 3   hour               4759 non-null   int64
 4   x                  4759 non-null   float64
 5   y                  4759 non-null   float64
 6   vehicle_count      4759 non-null   int64
 7   pedestrian_count   4759 non-null   int64
 8   congestion_level   4759 non-null   object
 9   weather_condition  4759 non-null   object
 10  temperature        4759 non-null   float64
 11  location           4759 non-null   object
 12  other_oid          4759 non-null   object
 13  other_class        4759 non-null   object
 14  other_x            4759 non-null   object
 15  other_y            4759 non-null   object
 16  body_roll          0 non-null      float64
 17  body_pitch         0 non-null      float64
 18  body_yaw           0 non-null      float64
 19  head_roll          0 non-null      float64
 20  head_pitch         0 non-null      float64
 21  head_yaw           0 non-null      float64
dtypes: float64(9), int64(3), object(10)
memory usage: 818.1+ KB
None

First few rows of the DataFrame:

,oid,timestamp,date,hour,x,y,vehicle_count,pedestrian_count,congestion_level,weather_condition,...,other_oid,other_class,other_x,other_y,body_roll,body_pitch,body_yaw,head_roll,head_pitch,head_yaw
0,oid_0,2023-01-01 00:00:00,2023-01-01,0,76.330009,37.469175,17,7,low,snowy,...,"['oid_284', 'oid_111', 'oid_354', 'oid_403', '...","['vehicle', 'pedestrian', 'cyclist', 'cyclist'...","[80.16643167796968, 23.193568120739716, 99.294...","[10.968289671858821, 54.31625209147144, 12.196...",NaN,NaN,NaN,NaN,NaN,NaN
1,oid_1,2023-01-01 01:00:00,2023-01-01,1,6.867522,42.072927,3,14,low,sunny,...,['oid_934'],['vehicle'],[18.255748305303598],[83.65003937685206],NaN,NaN,NaN,NaN,NaN,NaN
2,oid_2,2023-01-01 02:00:00,2023-01-01,2,3.076632,84.575050,12,49,high,cloudy,...,['oid_787'],['vehicle'],[77.73281545583741],[59.64309260346252],NaN,NaN,NaN,NaN,NaN,NaN
3,oid_3,2023-01-01 03:00:00,2023-01-01,3,35.477393,56.481094,4,23,medium,sunny,...,"['oid_3', 'oid_295', 'oid_293', 'oid_17']","['vehicle', 'vehicle', 'pedestrian', 'pedestri...","[42.84992200954636, 0.5787418544833112, 33.701...","[20.071410763398468, 78.18601194561984, 99.104...",NaN,NaN,NaN,NaN,NaN,NaN
4,oid_4,2023-01-01 04:00:00,2023-01-01,4,76.949776,94.133781,6,19,low,rainy,...,['oid_979'],['cyclist'],[58.92263259975318],[12.460936540645529],NaN,NaN,NaN,NaN,NaN,NaN

The dataset contains the following columns:

oid: This column represents a unique identifier for each object record in the dataset.

timestamp: This column stores the exact time of each record

date: This column extracts the date portion from the timestamp column, providing the day without the time information.

hour: This column extracts the hour of the day (0-23) from the 'timestamp' column.

x: This column represents the X-coordinate of each object in our data.

y: This column represents the Y-coordinate of each object in our data.

vehicle_count: This column indicates the number of vehicles observed in the vicinity of each object record.

pedestrian_count: This column reflects the number of pedestrians observed in the vicinity of each object record.

congestion_level: This column categorizes the traffic congestion level at the time of each record.

weather_condition: This column represents the weather condition at the time of each record

temperature: This column holds the temperature recorded at the time of each data point.

## Data Cleaning

### Step 1: Dropping  the empty columns

The columns body_roll, body_pitch, body_yaw, head_roll, head_pitch, and head_yaw have no data therefore will not be useful for our project. We will therefore proceed to drop them.

In [22]:
columns_to_drop = ['body_roll', 'body_pitch', 'body_yaw', 'head_roll', 'head_pitch', 'head_yaw',]
cleaned_df = df1.drop(columns=columns_to_drop)

Step 2: Convert the 'timestamp' column to datetime format

In [23]:
cleaned_df['timestamp'] = pd.to_datetime(cleaned_df['timestamp'])

### Step 3: Check for and remove duplicate rows

In [24]:
cleaned_df = cleaned_df.drop_duplicates()
cleaned_df.head()

,oid,timestamp,date,hour,x,y,vehicle_count,pedestrian_count,congestion_level,weather_condition,temperature,location,other_oid,other_class,other_x,other_y
0,oid_0,2023-01-01 00:00:00,2023-01-01,0,76.330009,37.469175,17,7,low,snowy,-7.048842,Location_0,"['oid_284', 'oid_111', 'oid_354', 'oid_403', '...","['vehicle', 'pedestrian', 'cyclist', 'cyclist'...","[80.16643167796968, 23.193568120739716, 99.294...","[10.968289671858821, 54.31625209147144, 12.196..."
1,oid_1,2023-01-01 01:00:00,2023-01-01,1,6.867522,42.072927,3,14,low,sunny,25.756664,Location_1,['oid_934'],['vehicle'],[18.255748305303598],[83.65003937685206]
2,oid_2,2023-01-01 02:00:00,2023-01-01,2,3.076632,84.575050,12,49,high,cloudy,33.568159,Location_2,['oid_787'],['vehicle'],[77.73281545583741],[59.64309260346252]
3,oid_3,2023-01-01 03:00:00,2023-01-01,3,35.477393,56.481094,4,23,medium,sunny,34.154008,Location_3,"['oid_3', 'oid_295', 'oid_293', 'oid_17']","['vehicle', 'vehicle', 'pedestrian', 'pedestri...","[42.84992200954636, 0.5787418544833112, 33.701...","[20.071410763398468, 78.18601194561984, 99.104..."
4,oid_4,2023-01-01 04:00:00,2023-01-01,4,76.949776,94.133781,6,19,low,rainy,-1.296653,Location_4,['oid_979'],['cyclist'],[58.92263259975318],[12.460936540645529]

Below we will go ahead and breakdown timestamps:

In [31]:
import pandas as pd


# Extract date components
cleaned_df['year'] = cleaned_df['timestamp'].dt.year
cleaned_df['month'] = cleaned_df['timestamp'].dt.month

# Create time-based features
cleaned_df['day_of_week'] = cleaned_df['timestamp'].dt.dayofweek
cleaned_df['hour'] = cleaned_df['timestamp'].dt.hour

By breaking down our project into components, we can be able to use our data in more useful ways for example:
- Comapring traffic levels between weekdays and weekends
- Identifying patterns in traffic congestion at different times of the day.

In [33]:
cleaned_df.head(10)

,oid,timestamp,date,hour,x,y,vehicle_count,pedestrian_count,congestion_level,weather_condition,temperature,location,other_oid,other_class,other_x,other_y,year,month,day_of_week
0,oid_0,2023-01-01 00:00:00,2023-01-01,0,76.330009,37.469175,17,7,low,snowy,-7.048842,Location_0,"['oid_284', 'oid_111', 'oid_354', 'oid_403', '...","['vehicle', 'pedestrian', 'cyclist', 'cyclist'...","[80.16643167796968, 23.193568120739716, 99.294...","[10.968289671858821, 54.31625209147144, 12.196...",2023,1,6
1,oid_1,2023-01-01 01:00:00,2023-01-01,1,6.867522,42.072927,3,14,low,sunny,25.756664,Location_1,['oid_934'],['vehicle'],[18.255748305303598],[83.65003937685206],2023,1,6
2,oid_2,2023-01-01 02:00:00,2023-01-01,2,3.076632,84.575050,12,49,high,cloudy,33.568159,Location_2,['oid_787'],['vehicle'],[77.73281545583741],[59.64309260346252],2023,1,6
3,oid_3,2023-01-01 03:00:00,2023-01-01,3,35.477393,56.481094,4,23,medium,sunny,34.154008,Location_3,"['oid_3', 'oid_295', 'oid_293', 'oid_17']","['vehicle', 'vehicle', 'pedestrian', 'pedestri...","[42.84992200954636, 0.5787418544833112, 33.701...","[20.071410763398468, 78.18601194561984, 99.104...",2023,1,6
4,oid_4,2023-01-01 04:00:00,2023-01-01,4,76.949776,94.133781,6,19,low,rainy,-1.296653,Location_4,['oid_979'],['cyclist'],[58.92263259975318],[12.460936540645529],2023,1,6
5,oid_5,2023-01-01 05:00:00,2023-01-01,5,71.310578,89.333961,15,33,high,snowy,26.245580,Location_5,"['oid_541', 'oid_367', 'oid_912']","['cyclist', 'cyclist', 'pedestrian']","[26.80521388141838, 42.38347771179725, 72.8236...","[55.50172247282388, 73.11659830778898, 91.7515...",2023,1,6
6,oid_6,2023-01-01 06:00:00,2023-01-01,6,13.754011,48.245646,11,9,low,sunny,26.389156,Location_6,"['oid_592', 'oid_699', 'oid_783', 'oid_789', '...","['vehicle', 'vehicle', 'pedestrian', 'pedestri...","[22.5413353172063, 89.92316387700629, 87.03666...","[71.42968100176586, 9.94642134951219, 96.18504...",2023,1,6
7,oid_7,2023-01-01 07:00:00,2023-01-01,7,81.061662,28.188148,15,11,medium,snowy,-8.703227,Location_7,['oid_354'],['vehicle'],[81.59701492703762],[86.72715536650595],2023,1,6
8,oid_8,2023-01-01 08:00:00,2023-01-01,8,87.816034,39.362988,3,12,medium,sunny,23.729499,Location_8,"['oid_872', 'oid_362', 'oid_486']","['vehicle', 'cyclist', 'cyclist']","[24.195898102204104, 25.39676053509188, 28.502...","[47.21731412233026, 37.96164717219131, 16.6673...",2023,1,6
9,oid_9,2023-01-01 09:00:00,2023-01-01,9,68.806347,2.551334,2,9,high,rainy,29.737843,Location_9,"['oid_191', 'oid_241', 'oid_708', 'oid_272']","['cyclist', 'pedestrian', 'vehicle', 'cyclist']","[36.71817656917603, 73.06433889448265, 23.8781...","[4.668063990489724, 3.212343024031483, 24.1347...",2023,1,6

From the output,we see that we now have columns indicating the year, month and day of the week.

Let us see whether it works:

In [34]:
import pandas as pd

# Sample DataFrame
data = {'timestamp': ['2023-01-15', '2023-02-10', '2023-01-25', '2023-03-05'],
        'value': [10, 20, 15, 25]}
df = pd.DataFrame(data)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['month'] = df['timestamp'].dt.month

# Filter for January data
january_data = df[df['month'] == 1]

print(january_data)

   timestamp  value  month
0 2023-01-15     10      1
2 2023-01-25     15      1

From the output we can see that the from the sample dataframe we had provided,the following timestamps are the ones that belong to the month of January.